<form action="/posts/<%= @post.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <div class="form-field">
    <label for="name">Name: </label>
    <input type="text" name="name" value="<%= @post.name %>">
  </div>
  <div class="form-field">
    <label for="content">Content: </label>
    <textarea name="content" rows="4"><%= @post.content %></textarea>
  </div>
  <input id="submit" type="submit" value="Submit">
</form>
