<% if @posts %>
  <% @posts.each do |post| %>
    <h2><%= post.name %></h2>
    <p><%= post.content %></p>
    <a href="/posts/<%= post.id %>/edit">Edit</a>
    <form action="/posts/<%= post.id %>/delete" method="POST">
      <input type="hidden" id="hidden" name="_method" value="delete">
      <input type="submit" name="delete" value="delete">
    </form>
  <% end %>
<% end %>
