<form action="/posts" method="post">
  <div class="form-field">
    <label for="name">Name: </label>
    <input type="text" name="name">
  </div>
  <div class="form-field">
    <label for="content">Content: </label>
    <textarea name="content" rows="4"></textarea>
  </div>
  <input id="submit" type="submit" value="Submit">
</form>
